<section class="column">
  <section class="row">
    <h1><b>Awesome Elixir</b></h1>
  </section>

  <%= for section <- @sections do %>
    <section class="row">
      <h3 id=<%= section.name %>><%= section.name %></h3>
    </section>
    <section class="row">
      <span><%= as_html section.description %></span>
    </section>
    <%= as_html section.items %>
  <% end %>
</section>

