<section class="column">
  <section class="row">
    <h1><b>Awesome Elixir</b></h1>
  </section>

  <%= for section <- @sections do %>
    <section class="row">
      <h3><%= section.name %></h3>
    </section>
    <section class="row">
      <span><%= section.description %></span>
    </section>
    <%= for item <- section.items do %>
      <ul>
        <li><%= item %></li>
      </ul>
    <% end %>
  <% end %>
</section>

